<h1>All Images will appear here</h1>
<form action="/admin/logout?_method=DELETE" method="POST">
    <button type="submit">Logout</button>
</form>
<a href="/admin-images/upload">Upload image</a>
<div>
    <% images.forEach(image=>{ %>
        <img src="<%=image.imagePath%>" height="350" width="250">
        <p><%=image.description%></p>
        <%- include('../partials/deleteForm', {url:`/admin-images/${image.id}`}) %>
    <%})%>


    
</div>