<div class="show-container">
    <p class="head-title">Images Featuring in Gallery</p>
    <div class="logout-upload">
        <form action="/admin/logout?_method=DELETE" method="POST">
            <button class="btn" type="submit">Logout</button>
        </form>
        <a href="/admin-images/upload" class="btn">Upload image</a>
    </div>
    <div class="featured-img">
        <% if(images.length < 1){ %>
            <div style="display: flex; justify-content: center; align-items: center; min-height:70vh; padding:1.2rem; flex-direction: column;">No Images in the Gallery as of Now
                <a href="/admin-images/upload" class="btn">Upload image</a>
            </div>
        <% } %>
        <% images.forEach(image=>{ %>
            <div class="img-container  admin-img">
                <img src="<%=image.imagePath%>">
                <p style="line-break: anywhere;"><%=image.description%></p>
                <%- include('../partials/deleteForm', {url:`/admin-images/${image.id}`}) %>
            </div>
        <%})%>    
    </div>
    <div id="close">
        &#10006;
    </div>
</div>
