<footer id="footer">
    <div class="content">
        <div class="footer-links">
            <a href="/featured-images" title="view projects">Gallery</a>
            <a href="/featured-videos" title="view skills">Featured</a>
            <a href="/#about" title="view experience">About</a>
            <a href="/#main" title="scroll to top">Move To Top</a>
            <a href="/admin" title="scroll to top">ADMIN</a>
        </div>
        <div class="social-footer">
            <div style="text-align:center; margin-top:5px">
                <p style="font-size:1.2rem; color:#ccc; margin-bottom:.6rem;">Connect with us on</p>
            </div>
            <a href="" title="FACEBOOK"><i class="fab fa-facebook-f"></i></a>
            <a href="" title="INSTAGRAM"><i class="fab fa-instagram"></i></a>
            <a href="mailto:rajubchandaliya1977@gmail.com" title="GMAIL"><i class="fas fa-envelope"></i></a>
            
        </div>
    </div>
    <div class="copyright">
        &copy;
        <span>2020,</span>
        Saniya Films Solutions
    </div>
</footer>