<header>
    <nav>
        <div class="logo">
            <a href="/">Saniya Film Solutions</a>
        </div>
        <ul>
            <li><a href="/featured-images">Featured Images</a></li>
            <li><a href="featured-videos">Featured Video</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </nav>
</header>