<nav class="header-nav">
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <div class="logo">
        <a href="/">Saniya Film Solutions</a>
    </div>
    <ul>
        <li><a class="btn" href="/featured-images">Featured Images</a></li>
        <li><a class="btn" href="/featured-videos">Featured Video</a></li>
        <li><a class="btn" href="/admin">Admin</a></li>
    </ul>
</nav>