
/* @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Langar&family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,300&display=swap');
@import 'header.css';
@import 'main-web-content.css';
@import 'footer.css';
@import 'form.css';

*,*::after,*::before{
    box-sizing: border-box;
}

:root{
    /* font-family: 'Indie Flower', cursive; */
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    --dark-background-color : #343a40;
    --background-color: #ffffff;
    --nav-background-color: #fcfcfc;
    --dark-nav-background-color: #272626;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    scroll-behavior: smooth;
    font-family: 'Langar', cursive;
    
}
body{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}


.feature-img-container,
.upload-container,
.login-container,
.img-container,
.show-container{
    margin-top:80px;
}

.upload-container{
    height: 80vh;
    max-height: 100%;
    padding: 1.5rem;
}
.form-row{
    display: flex;
    margin-bottom: .5rem;
    justify-content: center;
    align-items: center;
}

.form-item{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    flex-grow: .4;

}
.form-item.no-grow{
    flex-grow: 0.2;
    width: 30.0px;
    height: 400px;
}
.form-item label{
    font-size: 1.1rem;
    text-align: center;
}
.form-item textarea{
    resize: none;
}

.feature-img-container .head-title,
.show-container .head-title{
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
}

.featured-img{
    display: flex;
    min-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}
.featured-img .admin-img{
    padding-top: 1rem;
    padding-bottom:1.4rem ;
}
.featured-img .admin-img button,
.logout-upload .btn,
.upload-container .btn-upload{
    background: transparent;
    border: none;
    cursor: pointer;
    border: 1px solid #212121;
    transition: all .5s ease;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    color: #212121;
    padding:.5rem 1rem;
}
.featured-img .admin-img button:hover,
.logout-upload .btn:hover,
.upload-container .btn-upload:hover{
    background-color: #212121;
    color: white;
}
.show-container .logout-upload{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.img-container{
    width: 350px;
    max-width: 95%;
    height: 450px;
    overflow: hidden;
    /* background-color: #212121; */
    margin: .5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: .5rem;
    box-shadow: 4px 8px 16px rgba(0,0,0,.4);
}
.img-container p{
    font-size: 1.2rem;
}

.featured-img img{
    cursor: pointer;
    width: 100%;
    height: 80%;
    object-fit: contain;
}
.admin-img img{
    height: 70%;
}
#preview{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 1;
    display: none;
}
#preview.active{
    display: flex;
    justify-content: center;
    align-items: center;
}
#preview img{
    max-width: 90%;
    max-height: 80%;
    width: 500px;
    height: 650px;
    padding: 4px;
    object-fit: contain;
    background-color: black;
    border: 2px solid white;
}
#close{
    position: fixed;
    font-size: 2rem;
    color:white;
    font-weight: bolder;
    z-index: 2;
    right: 2%;
    top: 2%;
    display: none;
    cursor: pointer;
}
#close.active{
    display: block;
}

/* feature video */
.vid-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.vid-container .vid-title{
    text-align: center;
}
.trailer-out-of-prod-videos,
.in-house-prod-videos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap ;
}
.trailer-out-of-prod-videos .iframe-video,
.in-house-prod-videos .iframe-video{
    width:400px;
    height: 300px;
    max-width: 90%;
    margin: 1rem;

}

.login-container{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url('/images/login-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.inner-container{
    width: 300px;
    height: auto;
    background: rgba(255,255,255,.9);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:1.5rem 2rem;
    border-radius: 8px;
    box-shadow: 4px 8px 16px rgba(0,0,0,.4);
}
.inner-container .title{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    margin: .5rem;
    margin-left: 0;
}
.inner-container form{
    width: 100%;
}
.inner-container .form-input{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-left:0;
    width: 100%;
}
.inner-container .form-input input{
    width: 100%;
    padding: .8rem;
    border-radius: 4px;
    border: none;
    background: none;
    outline: none;
    border: .5px solid rgba(0,0,0,.4);
    transition: all .5s ease;
}
.inner-container .form-input input:focus{
    border: .5px solid #212121;
}
.inner-container button{
    background: none;
    border: none;
    padding: .6rem 1.2rem;
    cursor: pointer;
    border: 1px solid #212121;
    /* width: 100%; */
    display: inline-flex;
    transition: all .5s ease;
    border-radius: 4px;
    font-size: 1rem;
}
.inner-container button:hover{
    background-color: #212121;
    color: white;
}


@media (max-width:1000px){
    .form-item.no-grow{
        width: 200px;
        height: 250px;
    }
}
@media (max-width:768px){
    .form-row{
        flex-direction: column;
    }
    
}