
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root{
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
    --body-height: 92vh;
}
body{
    margin: 0;
    box-sizing: border-box;
    background-color: #E6E9ED;
    background-color: #C98474;
}

/* navbar */
.header-nav{
    width: 100%;
    background-color: #ED5565;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
}
.header-nav .nav-active{
    transform: translateX(0);
}
.burger{
    position: relative;
    height: 25px;
    cursor: pointer;
    display: none;
}
.burger div{
    position: absolute;
    width: 35px;
    height: 4px;
	transition: height 0.5s,width 0.5s, margin-left 0.5s transform 0.5s 0.5s;
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,.2);
    border-radius: 4px;
    background-color: white;
}
.burger .line1{
    transition: transform .5s, top .5s .5s;
	top:10%;
}
.burger .line2{
    transition: transform .5s, top .5s .5s;
	top:50%;
}
.burger .line3{
    transition: transform .5s, top .5s .5s;
	top:90%;
}
.burger.active .line1{
    top:50%;
	transform:rotate(45deg);
	transition: top .5s, transform .5s .5s;
}
.burger.active .line2{
    width:0;
	height:0;
}
.burger.active .line3{
    transform:rotate(135deg);
	top:50%;
	transition: top .5s, transform .5s .5s;
}

.logo a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
.header-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    transition: all .4s linear;
}
.header-nav ul li{
    list-style: none;
    margin: .5rem;
    padding: .7rem 1.3rem;
}
.header-nav ul li .btn{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    font-family: 'Indie Flower', cursive;
    outline: none;
    cursor: pointer;

}
.header-nav ul li:hover{
    background-color: #D9CB9E;
}
.main-web-content,
.feature-img-container,
.upload-container,
.login-container,
.img-container,
.show-container{
    margin-top:60px;
}

.featured-img{
    display: flex;
    min-width: 100%;
    /* width: 100vw; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.img-container{
    width: 350px;
    max-width: 95%;
    height: 450px;
    background-color: white;
    margin: .5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: .5rem;
}
.img-container p{
    font-size: 1.2rem;
}

.featured-img img{
    cursor: pointer;
    width: 100%;
    height: 80%;
    object-fit: contain;
}
#preview{
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-height: 90vh;
    top: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 1;
    display: none;
}
#preview.active{
    display: flex;
    justify-content: center;
    align-items: center;
}
#preview img{
    max-width: 90%;
    max-height: 80%;
    width: 500px;
    height: 650px;
    padding: 4px;
    background-color: black;
    border: 2px solid white;
}
.close{
    position: fixed;
    font-size: 2rem;
    color:white;
    font-weight: bolder;
    z-index: 2;
    right: 2%;
    top: 2%;
    display: none;
    cursor: pointer;
}
.close.active{
    display: block;
}

@media (max-width:768px){
    .header-nav{
        justify-content: start;
    }
    .header-nav .logo{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .header-nav .logo a{
        font-size: 1.4rem;
    }
    .header-nav .burger{
        position: absolute;
        left: 2%;
        display: block;
        margin-left: 10px;
    }
    .header-nav ul{
        position: absolute;
        top: 60px;
        margin: 0;
        width: 100%;
        height: 92vh;
        display: flex;
        padding: 0;
        flex-direction: column;
        background-color: white;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
    }
    .header-nav ul li{
        /* display: flex; */
        margin: 2rem .5rem;

    }
}