
<div class="vid-container">
    <h1 class="vid-title">Associate Director in the Following Movie</h1>
    <div class="trailer-out-of-prod-videos">
        <iframe class="iframe-video" src="https://www.youtube.com/embed/iYyzJjfXfzQ?rel=0" allowfullscreen></iframe>
        <iframe class="iframe-video" src="https://www.youtube.com/embed/ZUi7q9wG0Jk?rel=0" allowfullscreen></iframe>
        <iframe class="iframe-video" src="https://www.youtube.com/embed/ky2-Hlpm8uo" allowfullscreen></iframe>
        <iframe class="iframe-video" src="https://www.youtube.com/embed/plmaL5PvoOc" allowfullscreen></iframe>
    </div>
    <h1 class="vid-title">Production House Saniya Films solution's shoots</h1>
    <div class="in-house-prod-videos">
        <video class="iframe-video" src="/website-videos/vid1.mp4" allowfullscreen controls="true"></video>
        <video class="iframe-video" src="website-videos/vid2.mp4" allowfullscreen controls="true"></video>
        <video class="iframe-video" src="/website-videos/vid3.mp4" allowfullscreen controls="true"></video>
        <video class="iframe-video" src="/website-videos/vid4.mp4" allowfullscreen controls="true"></video>
        <video class="iframe-video" src="/website-videos/vid5.mp4" allowfullscreen controls="true"></video>
        <video class="iframe-video" src="/website-videos/vid6.mp4" allowfullscreen controls="true"></video>
        <video class="iframe-video" src="/website-videos/vid7.mp4" allowfullscreen controls="true"></video>
        <video class="iframe-video" src="/website-videos/vid8.mp4" allowfullscreen controls="true"></video>
        <video class="iframe-video" src="/website-videos/vid9.mp4" allowfullscreen controls="true"></video>
        <video class="iframe-video" src="/website-videos/vid10.mp4" allowfullscreen controls="true"></video>
        <video class="iframe-video" src="/website-videos/vid11.mp4" allowfullscreen controls="true"></video>
    </div>
    
</div>
