<div class="feature-img-container">
    <p class="head-title">Pictures With Various Artists</p>
    <div class="featured-img">
        <% images.forEach(image =>{ %>
            <div class="img-container">
                <img src="<%=image.imagePath%>">
                <p style="line-break: anywhere;"><%=image.description%></p>            
            </div>
        <%})%>
    </div>
</div>
<div id="close">
    &#10006;
</div>