<div class="feature-img-container">
    <h1>Image will appear here</h1>
    <div class="featured-img">
        <% images.forEach(image =>{ %>
            <div class="img-container">
                <img src="<%=image.imagePath%>">
                <p><%=image.description%></p>            
            </div>
        <%})%>
    </div>
</div>
<div id="close">
    &#10006;
</div>