<section id="main" class="main-web-content">
    <!-- <h1>Hi there Landing Page</h1> -->
    <div class="dir-img">
        <img src="/images/director.jpeg">
    </div>
    <div class="dir-info">
        <h1>Hi, I am Raju Ramsay</h1>
        <p>Official Director at Saniya Films solutions</p>
        <p>I make films and more!</p>
        <a class="info-btn" href="#about">More Info</a>
    </div>
</section>
<section id="parallax">
</section>

<section id="about">
    
</section>
